<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShowGamerInfo</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/vue-router@3/dist/vue-router.js"></script>



<div id="ShowGamerInfo">
    <!--使用导航菜单进行总界面的跳转-->
    <el-menu :default-active="$route.path"
             class="GamerInfoPresent"
             mode="horizontal"
             router
             @select="handleSelect">
        <el-menu-item index="/showGamerInfo">玩家信息</el-menu-item>
        <el-menu-item index="/showSeasonInfo">赛季战绩</el-menu-item>
        <el-menu-item index="/showSumInfo">全部战绩</el-menu-item>
    </el-menu>
    <!-- 添加路由视图 -->
    <router-view></router-view>
    <el-button type="primary" icon="el-icon-back" @click="returnMajor()" size="small">返回主界面</el-button>
</div>

</body>



<script>

    const showGamerInfo ={
        template: '<div><el-card style="width: 100%">' +
            '<el-descriptions title="玩家信息">' +
            '<el-descriptions-item label="段位">{{Gamer.dan}}</el-descriptions-item>' +
            '<el-descriptions-item label="赛季胜率">{{Gamer.seasonWinRate}}</el-descriptions-item>' +
            '<el-descriptions-item label="赛季场次">{{Gamer.seasonPlayNumber}}</el-descriptions-item>' +
            '<template slot="extra">'+
            //弹出表单使填写表单内容，需要输入原先的字段进行验证
            '<el-button type="primary" icon="el-icon-setting" @click="phoneNumberFormVisible=true" size="small">修改手机号</el-button>' +
            '<el-button type="primary" icon="el-icon-setting"  @click="emailFormVisible=true" size="small" >修改邮箱</el-button>' +
            '<el-button type="primary" icon="el-icon-setting"  @click="passwordFormVisible=true" size="small">修改密码</el-button>'+
            '</el-popover>' +
            '</template>'+
            '</el-descriptions>' +
            '</el-card>' +
            '<el-dialog :visible.sync="emailFormVisible" title="修改邮箱">' +
            '<el-form :model="email"  :visible.sync="emailFormVisible" width="150px" :rules="emailRules">' +
            '<el-form-item label="新邮箱" label-width="120px" prop="email"><el-input v-model="email"></el-input></el-form-item>  ' +
            '<el-form-item><el-button type="primary" @click="submitEmail()">提交</el-button> </el-form-item></el-form> </el-dialog>' +
            '<el-dialog :visible.sync="phoneNumberFormVisible" title="修改手机号">' +
            '<el-form :model="PhoneNumb"  :visible.sync="phoneNumberFormVisible" width="150px" :rules="phoneNumberRules">' +
            '<el-form-item label="新手机号码" label-width="120px" prop="PhoneNumb"><el-input v-model="PhoneNumb"></el-input></el-form-item>  ' +
            '<el-form-item><el-button type="primary" @click=submitPhoneNumb()>提交</el-button> </el-form-item></el-form> </el-dialog>' +
            '<el-dialog :visible.sync="passwordFormVisible" title="修改密码">' +
            '<el-form :model="password"  :visible.sync="passwordFormVisible" width="150px" :rules="passwordRules">' +
            '<el-form-item label="旧密码" label-width="120px" prop="password.primaryPassword"><el-input v-model="password.primaryPassword"></el-input> </el-form-item>' +
            '<el-form-item label="新密码" label-width="120px" prop="password.Password"><el-input v-model="password.Password"></el-input></el-form-item>  ' +
            '<el-form-item><el-button type="primary" @click="submitPassword()">提交</el-button> </el-form-item></el-form> </el-dialog></div>',

        data(){
            return{
                email:'',
                PhoneNumb:'',
                password:{
                    primaryPassword:'',
                    Password:'',
                },
                emailFormVisible:false,
                phoneNumberFormVisible:false,
                passwordFormVisible:false,

                passwordRules:{
                    primaryPassword: [
                        { required:true, message:'请输入密码',trigger:'blur'},
                        { min:10 , max: 20 ,message: '密码长度应在10到20之间', trigger:'blur'}
                    ],
                    password:[
                        { required:true, message:'请输入密码',trigger:'blur'},
                        { min:10 , max: 20 ,message: '密码长度应在10到20之间', trigger:'blur'}
                    ]
                },
                emailRules:{
                    email: [ {required:true, message:'请输入邮箱号',trigger:'blur'},
                        {
                            pattern: /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
                            message: '请输入正确的邮箱号',
                            trigger: 'blur'
                        }]
                },
                phoneNumberRules:{
                    phoneNumb:[
                        { required:true , message:"请输入手机号码",trigger:'blur'},
                        { pattern:/^\d{11}$/ , message: '请输入正确的手机号',trigger: 'blur'}
                    ],
                }
            }
        },
        inject:["Authorization","Gamer"],
        mounted(){
          alert(this.Gamer.id)
        },

        methods:{
            submitEmail(email){
                axios.post("http://localhost:8080/MyGobang/User/ModifyEmail",{
                        email:this.email
                    },
                    {
                        headers:{
                            'Content-Type':'application/json',
                            'Authorization':this.Authorization
                        }
                    }).then(response=>{
                    if(response.data.success){
                        alert("修改成功")
                    }else{
                        alert("修改失败：" +response.data.message)
                    }
                }).catch(err=>{
                    console.log(err)
                })
            },
            submitPhoneNumb(){
                alert(this.Authorization);
                alert(this.Gamer.id)
                axios.post("http://localhost:8080/MyGobang/User/ModifyPhoneNumb",{
                        phoneNumber:this.PhoneNumb,
                    },
                    {
                        headers:{
                            'Content-Type':'application/json',
                            'Authorization':this.Authorization
                        }
                    }).then(response=>{
                    if(response.data.success){
                        alert("修改成功")
                    }else{
                        alert("修改失败：" +response.data.message)
                    }
                }).catch(err=>{
                    console.log(err)
                })
            },
            submitPassword(){
                axios.post("http://localhost:8080/MyGobang/User/ModifyPassword",{
                        password:this.password.primaryPassword,
                        password:this.password.password
                    },
                    {
                        headers:{
                            'Content-Type':'application/json',
                            'Authorization':this.Authorization
                        }
                    }).then(response=>{
                    if(response.data.success){
                        alert("修改成功")
                    }else{
                        alert("修改失败：" +response.data.message)
                    }
                }).catch(err=>{
                    console.log(err)
                })
            },
        },
    }
    const showSumInfo={
        template: '<div><el-card style="width: 100%">' +
            '<div aria-label="总胜率">{{sumWinRate}}</div>' +
            '<el-table :data="historicGame">' +
            '<el-table-column fixed prop="IsWin" label="结果"></el-table-column>' +
            '<el-table-column prop="startTime" label="游戏开始时间"></el-table-column>' +
            '<el-table-column prop="endTime" label="游戏结束时间"></el-table-column>' +
            '<el-table-column fixed="right" label="操作"><el-button @click="checkEndStyle" type="text" size="small">查看结束棋盘</el-button></el-table-column> '+
            '</el-table>'+
            '</el-card>',
        data(){
            return{
                historicGame:[],
                sumWinRate:'',
                sumPlayNumb:''
            }
        },
        inject:['Gamer','Authorization'],
        created(){
            this.getSumGame();
        },
        methods:{
            getSumGame(){
                axios.post('http://localhost:8080/MyGobang/Gamer/ShowGamerInfo/getSumInfo',
                    {
                        headers:{
                            'Content-Type':'application/json',
                            'Authorization':this.Authorization
                        }
                    }).then(response=>{
                        if(response.data.success){
                            this.historicGame = response.data.historicGame
                        }else{
                            console.log(response.data.message)
                        }
                }).catch(err=>{
                    console.log(err)
                })
            },
            checkEndStyle(gameId){
                axios.post('http://localhost:8080/MyGobang/chessStyle/checkEndStyle',
                    {

                    })
                    .then(response=>{
                    if(response.data.success){
                        this.historicGame = response.data.historicGame
                    }else{
                        console.log(response.data.message)
                    }
                }).catch(err=>{
                    console.log(err)
                })
            }
        }
    }

    const showSeasonInfo={
        template: '<div><el-card style="width: 100%">' +
            '<div aria-label="赛季胜率">{{seasonWinRate}}</div>' +
            '<el-table :data="historicGame">' +
            '<el-table-column fixed prop="IsWin" label="结果"></el-table-column>' +
            '<el-table-column prop="startTime" label="游戏开始时间"></el-table-column>' +
            '<el-table-column prop="endTime" label="游戏结束时间"></el-table-column>' +
            '<el-table-column fixed="right" label="操作"><el-button @click="checkEndStyle" type="text" size="small">查看结束棋盘</el-button></el-table-column> '+
            '</el-table>'+
            '</el-card>',
        data(){
            return{
                historicGame:[],
                seasonWinRate:'',
                seasonPlayNumb:''
            }
        },
        inject:["Gamer"],
        created(){
            this.getSeasonGame();
        },
        methods:{
            getSeasonGame(){
                axios.post('http://localhost:8080/MyGobang/Gamer/ShowGamerInfo/getSeasonInfo',
                    {
                        headers:{
                            'Content-Type':'application/json',
                            'Authorization':'authorization'
                        }
                    }).then(response=>{
                    if(response.data.success){
                        this.historicGame = response.data.historicGame
                    }else{
                        console.log(response.data.message)
                    }
                }).catch(err=>{
                    console.log(err)
                })
            },
            checkEndStyle(gameId){
                axios.post('http://localhost:8080/MyGobang/chessStyle/checkEndStyle')
                    .then(response=>{
                        if(response.data.success){
                            this.historicGame = response.data.historicGame
                        }else{
                            console.log(response.data.message)
                        }
                    }).catch(err=>{
                    console.log(err)
                })
            }
        }
    }

    //设置路由
    const routes=[
        {
            path:'/showGamerInfo',
            name:'showGamerInfo',
            component:showGamerInfo
        },
        {
            path:'/showSeasonInfo',
            name:'showSeasonInfo',
            component: showSeasonInfo
        },
        {
            path:'/showSumInfo',
            name:'showSumInfo',
            component: showSumInfo
        },
    ]

    //创建路由实例：
    const router = new VueRouter({
        routes
    })

Vue.component('showGamerInfo',showGamerInfo)


    new Vue({
        el:'#ShowGamerInfo',
        router,
        //将gamer数据传递给子组件

        data(){
            return{
                Gamer:{
                    id:'',
                    dan:'',
                    winRate:'',
                    sumPlayNumb: '',
                    seasonPlayNumb:'',
                    sumWinRate: '',
                    seasonWinRate:'',
                    points:''
                },
                Authorization:''
            }
        },
        methods:{
            handleSelect(Path) {
                this.$router.push(Path);
            },
            returnMajor(){
                //跳转回到Major界面
                window.open('http://localhost:63342/MyGobang/MyGobang/src/main/webapp/Game/Major.html','_self');
            },
        },
        created(){
            //从Major界面获取gamer对象
            //gamer对象为undefined
          this.Gamer=JSON.parse(sessionStorage.getItem('Gamer'));
          this.Authorization=JSON.parse(sessionStorage.getItem('Authorization'));
          alert(this.Gamer);
          alert(this.Authorization)
          localStorage.removeItem('Gamer');
        },
        provide(){
            return{
                Gamer: Vue.computed(()=>this.Gamer),
                Authorization:  Vue.computed(()=>this.Authorization)
            }
        }
    })
</script>
</html>