<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Major</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>





<div id="Major">
    <el-card class="MajorOperation"  body-style="10px">
        <el-rol>
            <el-button type="primary" class="button-spacing">快速匹配</el-button>
            <el-button type="primary" @click="isBuildRoom = true">创建房间</el-button>


            <el-dialog title="创建房间" :visible.sync="isBuildRoom">
                <el-form :model="roomInfo" prop="roomInfo">
                    <el-form-item label="是否公开">
                        <!--通过选择的Ispublic值展开room的输入框-->
                       <el-select v-model="roomInfo.IsPublic" placeholder="请选择房间公开情况">
                           <el-option label="公开" :value=false></el-option>
                           <el-option label="私密" :value=true></el-option>
                       </el-select>
                    </el-form-item>
                    <el-form-item :model="roomInfo.password" v-if="roomInfo.IsPublic" >
                        <el-input v-model="roomInfo.password" placeholder="请输入房间密码" label="房间密码" ></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button  type="primary" @click="buildRoom()">创建房间</el-button>
                    </el-form-item>
                </el-form>
            </el-dialog>


            <el-button type="primary" @click="isJoinRoom = true">加入房间</el-button>
            <el-dialog title="加入房间" :visible.sync="isJoinRoom" >
                <el-form :model="roomInfo" prop="roomInfo">
                    <el-form-item label="房间id" :model="roomInfo.roomId">
                        <el-input v-model="roomInfo.roomId" placeholder="请输入房间号" label="房间id"></el-input>
                    </el-form-item>
                    <el-form-item label="房间密码" :model="roomInfo.password">
                        <el-input v-model="roomInfo.password" placeholder="请输入房间密码(如果房间公开，请忽略)" label="房间密码"></el-input>
                    </el-form-item>
                </el-form>
            </el-dialog>
        </el-rol>
        <el-rol>
            <el-button type="primary" @click="showGamerInfo()">个人信息</el-button>
        </el-rol>
    </el-card>
</div>


</body>

<script>
    new Vue({
        el:"#Major",
        data(){
            return{

                operator:{
                    id:0,
                    phoneNumber:'',
                    email:'',
                    type:'',
                    name:''
                },
                messages: [],
                connectionStatus: '未连接',
                worker: null,
                Gamer:{
                    id:'',
                    dan:'',
                    winRate:'',
                    sumPlayNumb: '',
                    seasonPlayNumb:'',
                    sumWinRate: '',
                    seasonWinRate:'',
                    points:''
                },
                roomInfo:{
                    roomId:'',
                    IsPublic:false,
                    password:'',
                    ownerId:'',
                    guestId:''
                },
                isBuildRoom:false,
                isJoinRoom:false,
                formLabelWidth:'120px',
                roomRules:{
                    password:
                        [
                            {required:true ,message:'请输入密码',trigger:'change'},
                            {pattern:/^\d{8}$/ , message: '密码应为8位',trigger: 'blur'}
                        ]
                },
                Authorization:'',
                user:''
            }
        },
        methods: {
            buildRoom(){
                //向中继服务器发送创建房间请求
                //this.sendToMiddle("buildRoom."+JSON.toString(this.roomInfo))
                //创建房间函数，主要负责保存数据并进行页面跳转
                localStorage.setItem("Room",this.roomInfo)
                localStorage.setItem("operator",this.user)
                window.open('http://localhost:63342/MyGobang/MyGobang/src/main/webapp/Game/Room.html','_self')
            },
            showGamerInfo(){
                sessionStorage.setItem('Gamer',JSON.stringify(this.Gamer));
                sessionStorage.setItem('Authorization',JSON.stringify(this.Authorization))
                window.open('http://localhost:63342/MyGobang/MyGobang/src/main/webapp/Game/ShowGamerInfo.html','_self')
            },
            //重置
            resetForm() {
                this.message = "";
                this.text_content = "";
            },
        },
        created() {
            //创建SharedWorker
            this.connect();
            this.operator = localStorage.getItem("operator");
            this.Authorization = localStorage.getItem("Authorization");
            axios.post("http://localhost:8080/MyGobang/Gamer/Major/getGamer",
                {},
                {
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': this.Authorization
                    },
                }).then(response => {
                if (response.data.success) {
                    this.gamer = response.data.gamer
                } else {
                    alert("获取gamer失败:" + response.data.message)
                }
                this.join()
            }).catch(err => {
                console.log(err)
            });
        },
        exitFromMiddle() {
            if (this.middleServerWs) {
                this.middleServerWs.close();
                this.middleServerWs = null;
            }
        },
        exitFromBack() {
            if (this.backServerWs) {
                this.backServerWs.close();
                this.backServerWs = null;
            }
        },
        middleServerSend() {
            if (this.middleServerWs) {
                this.middleServerWs.send(this.message);
            } else {
                alert("未连接到服务器");
            }
        },
        backServerSend(){
            if(this.backServerWs){
                this.backServerWs.send(this.message)
            }else{
                alert("未连接到服务器");
            }
        },
        sendToMiddle() {
            if (this.messageToSend.trim() && this.worker) {
                this.worker.middlePort.postMessage({
                    type: 'send',
                    data: this.messageToSend
                });
                this.messages.push(`发送: ${this.messageToSend}`);
                this.messageToSend = '';
            }
        },
        sendToBack() {
            if (this.messageToSend.trim() && this.worker) {
                this.worker.backPort.postMessage({
                    type: 'send',
                    data: this.messageToSend
                });
                this.messages.push(`发送: ${this.messageToSend}`);
                this.messageToSend = '';
            }
        },
        closeMiddle() {
            if (this.worker) {
                this.worker.middlePort.postMessage({
                    type: 'close'
                });
            }
        },
        closeBack() {
            if (this.worker) {
                this.worker.BackPort.postMessage({
                    type: 'close'
                });
            }
        },
        beforeMiddleDestroy() {
            if (this.worker) {
                this.close();
                this.worker.middlePort.close();
            }
        },
        beforeBackDestroy() {
            if (this.worker) {
                this.close();
                this.worker.backport.close();
            }
        },
        connect() {
            const middleServerURL = "ws://101.37.135.39:8081/Game";
            const backServerURL = "ws://localhost:8082/Back";
            //获取socket连接
            const worker = window.worker || new SharedWorker("sharedWebsocket.js");
            window.worker = worker;
            //进入连接后若未连接上可能会阻塞进程
            worker.port.postMessage({
                type: "connect-middle",
                URL: middleServerURL,
            });
            worker.port.postMessage({
                type: 'connect-back ',
                URL: backServerURL
            })
            if (!this.worker) {
                this.worker.port.start();
                //监听消息
                // 监听 Worker 发来的消息
                this.worker.port.onmessage = (e) => {
                    const {type, region, data} = e.data;
                    if (type === "middle-message") {
                        //处理中继服务器发来的信息
                        this.handleMessageFromMiddle(data);
                    } else if (type === "back-message") {
                        //处理后端服务器发来的通知
                        handleMessageFromBack(data);
                    }
                }

            }

        },
        //处理服务器发送到前端的指令
        handleMessageFromMiddle(event){
            if(typeof event.data === 'string'){
                let info = event.data.split(".");
                if(info.length === 2){
                    //携带数据传输指令
                }else{
                    switch(info){
                        case "joinInSuccess":
                            //申请加入房间成功，，向后端发送请求数据跳转房间页面
                            sendToBack(info)
                            break;
                    }
                }
            }else{
                //处理后端发送到前端的指令:后端发送的二进制数据只有用户数据
                sendToMiddle(data);
            }
        },
        handleMessageFromBack(event){
            if(typeof event.data === 'string'){
                let info = event.data.split(".");
                if(info.length === 2){
                    //携带数据传输指令
                }else{
                    //简单指令传输
                }
            }else{
                //处理后端发送到前端的指令:后端发送的二进制数据只有用户数据
                sendToMiddle(data);
            }
        }
    })
</script>

</html>